{
   "printWidth": 80,
   "semi": false,
   "singleQuote": true,
   "tabWidth": 2,
   "trailingComma": "all",
   "plugins": ["prettier-plugin-blade", "prettier-plugin-tailwindcss"],
   "overrides": [
      {
         "files": ["*.blade.php", "*.vue"],
         "options": {
            "parser": "blade"
         }
      }
   ]
}
